.carousel-wrap {
    margin: 90px auto;
    padding: 0 5%;
    width: 80%;
    position: relative;
}


/* fix blank or flashing items on carousel */

.owl-carousel .item {
    position: relative;
    z-index: 100;
    -webkit-backface-visibility: hidden;
    padding: 20px;
    border: 1px solid #f5f5f5;
    height: 100px;
}


/* end fix */

.owl-nav>div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: coral;
}

.owl-nav i {
    font-size: 52px;
}

.owl-nav .owl-prev {
    left: -30px;
}

.owl-nav .owl-next {
    right: -30px;
}